@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}


.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
    background-color: #212121;
}

@keyframes show-content{
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo{
    font-size: 40px;
    font-weight: 700;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin-left: 30px;
}

.navbar ul li a{
    font-size: 20px;
    font-weight: 400;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a{
    color: rgb(19, 198, 91);
}

.bars-animation{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex; 
    z-index: -1;
}

.bars-animation .bar{
    width: 100%;
    height: 100%;
    background: rgb(33, 33, 33);
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
}

.contactinfo{
    margin-top: 150px;
    margin-bottom: 30px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}

.contactinfo h1{
    color: white;
    font-size: 65px;
}

.contactinfo p{
    color: white;
    font-size: 20px;
}

.img-row{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}

.img-container{
    position: relative;
    display:flex;
    justify-content: center;

}

.img-container img{
    width: 140px;
    height: auto;
    object-fit: cover;
}