@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#make-me-cool {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}

body {
    background-color: #212121;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:transparent;
    z-index: 100;
    background-color: rgba(33,33,33,0.5);
    fill-opacity: 100%;
}

.navbar .logo {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 30px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 400;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: rgb(19, 198, 91);
}

.home {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: transparent;
    padding-top: 75px;
    margin-top: 0;
    min-height: 100vh;
}

.home-info {
    margin-top: -1%;
    align-items: center;
}

.home-info h1 {
    font-size: 55px;
    color: white;
    margin-top: 10%;
}

.home-info p {
    font-size: 20px;
    margin-top: 3px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.home-img .img-box {
    position: relative;
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #212121;
    margin-top: 20%;
    border-radius: 50%;
}

.home-img .img-box .img-item {
    width: 25vw;
    height: 25vw;
    background: rgb(71, 76, 83);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 25px;
    height: 20px;
    justify-content: space-between;
}

.burger-menu span {
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    transition: 0.3s ease;
}

.burger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(7.5px, 7.5px);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 480px) {
    #make-me-cool {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        pointer-events: none;
    }

    #nav-links {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        background: rgb(33, 33, 33, 0.5);
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        padding: 0 20px;
        z-index: 50;
        opacity: 1;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition:
            max-height 0.4s ease,
            opacity 0.4s ease,
            padding 0.3s ease,
            visibility 0.4s;
    }

    .navbar .logo{
        font-size: 30px;
        font-weight: 700;
        margin-top: -2%;
        color: white;
    }

    .home-img .img-box,
    .home-img .img-box .img-item {
        width: 180px;
        height: 180px;

    }

    .home-info h1 {
        font-size: 32px;
        color: white;
    }

    .home-info p {
        font-size: 14px;
        color: white;
    }

    #nav-links.active {
        max-height: 500px;
        padding: 20px;
        opacity: 1;
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(33, 33, 33, 0.5);
        color: white;
    }

    .burger-menu {
        display: flex;
    }

    .navbar {
        flex-direction: row;
        align-items: flex-start;
        background-color: rgba(33,33,33,0.5);
        fill-opacity: 100%;
    }
}